########################################################
################ SUPABASE CONFIGURATION ################
########################################################
NEXT_PUBLIC_SUPABASE_URL=https://*************.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_*************
SUPABASE_SECRET_KEY=sb_secret_*************
SUPABASE_DATABASE_PASSWORD=*************

########################################################
############### CLOUDINARY CONFIGURATION ###############
########################################################
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=*************
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=*************
CLOUDINARY_API_KEY*************
CLOUDINARY_API_SECRET=*************

########################################################
############### OPENROUTER CONFIGURATION ###############
########################################################
OPENROUTER_API_KEY=sk-*************
